# 5.3 TF-IDF

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [3]:
data = [' Most shark attacks occur about 10 feet from the beach since that is where the people are',
        'the efficiency with which he paired the socks in the drawer was quite admirable',
        'carol drank the blood as if she were a vampire',
        'giving directions that the mountains are to the west only works when you can see them',
        'the sign said there was road work ahead so he decided to speed up',
        'the gruff old man sat in the back of the bait shop grumbling to himself as he scooped out a handful of worms']

In [4]:
tfidfvec = TfidfVectorizer()

In [5]:
tfidfvec_fit = tfidfvec.fit_transform(data)

In [ ]:
tfidf_bag = pd.DataFrame(tfidfvec_fit.toarray(), columns = tfidfvec.get_feature_names_out())

,10,about,admirable,ahead,are,as,attacks,back,bait,beach,...,were,west,when,where,which,with,work,works,worms,you
0,0.257061,0.257061,0.000000,0.000000,0.210794,0.000000,0.257061,0.00000,0.00000,0.257061,...,0.000000,0.00000,0.00000,0.257061,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
1,0.000000,0.000000,0.293641,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.293641,0.293641,0.000000,0.00000,0.00000,0.00000
2,0.000000,0.000000,0.000000,0.000000,0.000000,0.292313,0.000000,0.00000,0.00000,0.000000,...,0.356474,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.00000,0.00000
3,0.000000,0.000000,0.000000,0.000000,0.222257,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.27104,0.27104,0.000000,0.000000,0.000000,0.000000,0.27104,0.00000,0.27104
4,0.000000,0.000000,0.000000,0.290766,0.000000,0.000000,0.000000,0.00000,0.00000,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.290766,0.00000,0.00000,0.00000
5,0.000000,0.000000,0.000000,0.000000,0.000000,0.178615,0.000000,0.21782,0.21782,0.000000,...,0.000000,0.00000,0.00000,0.000000,0.000000,0.000000,0.000000,0.00000,0.21782,0.00000

In [7]:
print(tfidf_bag)

         10     about  admirable     ahead       are        as   attacks  \
0  0.257061  0.257061   0.000000  0.000000  0.210794  0.000000  0.257061
1  0.000000  0.000000   0.293641  0.000000  0.000000  0.000000  0.000000
2  0.000000  0.000000   0.000000  0.000000  0.000000  0.292313  0.000000
3  0.000000  0.000000   0.000000  0.000000  0.222257  0.000000  0.000000
4  0.000000  0.000000   0.000000  0.290766  0.000000  0.000000  0.000000
5  0.000000  0.000000   0.000000  0.000000  0.000000  0.178615  0.000000

      back     bait     beach  ...      were     west     when     where  \
0  0.00000  0.00000  0.257061  ...  0.000000  0.00000  0.00000  0.257061
1  0.00000  0.00000  0.000000  ...  0.000000  0.00000  0.00000  0.000000
2  0.00000  0.00000  0.000000  ...  0.356474  0.00000  0.00000  0.000000
3  0.00000  0.00000  0.000000  ...  0.000000  0.27104  0.27104  0.000000
4  0.00000  0.00000  0.000000  ...  0.000000  0.00000  0.00000  0.000000
5  0.21782  0.21782  0.000000  ...  0.000000  0.00000  0.00000  0.000000

      which      with      work    works    worms      you
0  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
1  0.293641  0.293641  0.000000  0.00000  0.00000  0.00000
2  0.000000  0.000000  0.000000  0.00000  0.00000  0.00000
3  0.000000  0.000000  0.000000  0.27104  0.00000  0.27104
4  0.000000  0.000000  0.290766  0.00000  0.00000  0.00000
5  0.000000  0.000000  0.000000  0.00000  0.21782  0.00000

[6 rows x 71 columns]